/*Fonts used
'Borel', cursive;
'Handjet', cursive;
'Montserrat', sans-serif;
'Roboto', sans-serif;
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.header {
    background-color: rgba(0, 255, 255, 0.822);
    text-align: center;
    padding: 40px;
    font-size: 50px;
    font-family: 'Borel', cursive;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 223, 213, 0.726);
    align-items: center;
}

.sketch-container {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 600px;
    background-color: rgba(189, 189, 189, 0.671);
}
.sketch-kit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 20px;
    background-color: rgb(114,83,106);
}
.sketch-kit > div {
    font-family: 'Handjet', cursive;
    font-size: 20px;
    font-weight: 500;
}

.sketch-area {
    height: 600px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}
.cell {
    background-color: rgb(214, 214, 214);
}
.sketch-size-manipulator {
    /*Problem to be searched*/
    /*How to put this on the bottom*/
    display: flex;
    margin-bottom: auto;
    height: 80px;
    align-items: center;
}
#apply-btn {
    padding: 20px;
    border: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

}

/*to design the slider*/
.range-slider {
    
}
.slider {
    width: 600px;
}

