/*Fonts used
'Borel', cursive;
'Handjet', cursive;
'Montserrat', sans-serif;
'Roboto', sans-serif;
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;

}

.header {
    background-color: rgba(0, 255, 255, 0.822);
    text-align: center;
    padding: 40px;
    font-size: 50px;
    font-family: 'Borel', cursive;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #28dfd5b9;
    align-items: center;
}

.sketch-container {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 600px;
    
}
.sketch-kit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 15px;
}
.sketch-kit button {
    font-family: 'Handjet', cursive;
    font-size: 20px;
    font-weight: 500;
    color: #28dfd5b9;
    height: 70px;
    width: 80px;
    padding: 10px;
    background-color: rgba(255, 35, 35, 0.63);
    border: none;
    border-radius: 50%;
}

.sketch-area {
    height: 600px;
    width: 600px;

    display: flex;
    flex-wrap: wrap;

}
.cell {
   background-color: white;
}

.sketch-size-manipulator {
    /*Problem to be searched*/
    /*How to put this on the bottom*/
    display: flex;
    margin-bottom: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
}
#apply-btn {
    padding: 20px;
    border: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

}

/*to design the slider*/
.slider {
    width: 600px;
    color: bisque;
}

/*to design color-pallete*/
#color-pallete {
    display: flex;
    justify-content: center;
    align-items: center;
}
#color-picker {
    border-style: none;
    padding: none;
    border-radius: 100%;
    width: 30px;
    height: 80px;
    background-color: transparent;
    margin: 0;
}
.color button{
    text-align: center;
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
